**

!package.json
!package-lock.json
!tsconfig.base.json
!apps/**
!services/**
!packages/**
!scripts/**
!infra/docker/backend.Dockerfile
!infra/docker/bootstrap.Dockerfile

.git
.github
docs
e2e
infra/terraform
logs
tmp
.env
.env.*

**/.next
**/.turbo
**/coverage
**/dist
**/node_modules
**/tmp
**/*.md
**/*.spec.ts
**/*.spec.tsx
**/*.test.ts
**/*.test.tsx
**/*.tsbuildinfo
**/*.log
